<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../res/assets/css/bootstrap.css">
</head>
<body>
<div class="container">
    <p><a href="lineStack.html" target="_blank">图表演示</a></p>
    <p><a href="bar-tick-align.html" target="_blank">巡检图表演示</a></p>
    <p><a href="list.html" target="_blank">列表1</a></p>
    <p><a href="list2.html" target="_blank">列表2</a></p>
    <p><a href="list3.html" target="_blank">列表3</a></p>
    <p><a href="list4.html" target="_blank">列表4</a></p>
    <p><a href="TimeSlider2/index.html" target="_blank">日期轴演示</a></p>
</div>
</body>
</html>