body {
	margin: 0px;
	background-color: #EBF0F5;
	padding: 0px 15px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.l {
	float: left;
}

.r {
	float: right;
}

.left-main {
	width: 70%;
	font-size: 14px;
	color: #999;
}

.right-main {
	width: 380px;
	font-size: 14px;
	padding-left: 15px;
}

.main-item {
	background-color: #FFF;
	border-radius: 5px;
	margin-top: 20px;
}

.left-main .view-1 {
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
	overflow: hidden;
}

.left-main .view-1 li {
	width: 20%;
	float: left;
	margin-left: 4%;
	padding: 1%;
	position: relative;
	cursor: pointer;
}

.left-main .view-1 li:first-child {
	margin-left: 0px;
}

.left-main .view-1 li span {
	display: block;
	margin-left: 55px;
}

.left-main .view-1 li span.num {
	font-size: 20px;
}

.left-main .view-1 li i {
	position: absolute;
	right: 15px;
	top: 40%;
	display: block;
	width: 10px;
	height: 15px;
	background: url(img/index/u79.png) no-repeat center center;
}

.left-main .view-1 li {}

.left-main .view-1 li.tran {
	background: url(img/index/icon-1.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.left-main .view-1 li.tran span.num {
	color: #F15150;
}

.left-main .view-1 li span .unit {
	font-size: 12px;
	padding-left: 5px;
	display: inline;
	margin-left: 0px;
}

.left-main .view-1 li.sh {
	background: url(img/index/icon-2.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.left-main .view-1 li.sh span.num {
	color: #F15089;
}

.left-main .view-1 li.wp {
	background: url(img/index/icon-3.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.left-main .view-1 li.wp span.num {
	color: #50BEF1;
}

.left-main .view-1 li.wed {
	background: url(img/index/icon-4.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.left-main .view-1 li.wed span.num {
	color: #5085F1;
}

.left-main .view-2 {
	overflow: hidden;
}

.left-main .view-2 ul {
	padding: 10px;
}

.left-main .view-2 .title {
	display: block;
	padding: 10px;
	color: #1E1E1E;
}

.left-main .view-3 {
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
	overflow: hidden;
}

.left-main .view-3 li {
	width: 22%;
	float: left;
	margin-left: 4%;
	padding: 1.5% 0px;
	position: relative;
	cursor: pointer;
}

.left-main .view-3 li:first-child {
	margin-left: 0px;
}

.left-main .view-3 li span {
	display: block;
	margin-left: 55px;
}

.left-main .view-3 li i {
	position: absolute;
	right: 15px;
	top: 40%;
	display: block;
	width: 10px;
	height: 15px;
	background: url(img/index/u79.png) no-repeat center center;
}

.left-main .view-3 li.dl {
	background: url(img/index/icon-5.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.left-main .view-3 li.sha {
	background: url(img/index/icon-6.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.left-main .view-3 li.req {
	background: url(img/index/icon-7.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.left-main .view-3 li.qrc {
	background: url(img/index/icon-8.png) no-repeat center left;
	background-position-x: 10px;
	background-color: #FFF;
}

.right-main .view-4 {
	overflow: hidden;
	min-width: 350px;
}

.right-main .view-4 li {
	display: block;
	overflow: hidden;
	margin-bottom: 13px;
	position: relative;
}

.right-main .view-4 .title {
	display: block;
	padding: 10px;
	color: #1E1E1E;
}

.right-main .view-4 .ts {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 65px;
	padding-left: 10px;
}

.right-main .view-4 .ts span {
	display: block;
}

.right-main .view-4 .ts span:first-child {
	font-size: 18px;
	color: #999999;
}

.right-main .view-4 .ts span:last-child {
	font-size: 10px;
	color: #FFFFFF;
	background-color: #46B8FD;
	border-radius: 8px;
	height: 16px;
	width: 80%;
	text-align: center;
	margin: 5px auto 0px 0px;
}

.right-main .view-4 .name {
	font-size: 16px;
	width: 95%;
	color: #1E1E1E;
	
}

.right-main .view-4 .name span {
	margin-left: 75px;
}

.right-main .view-4 .name span:last-child {
	padding-bottom: 12px;
	border-bottom: 1px solid #E4E4E4;
}

.right-main .view-4 .money {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 16px;
	color: #F46D0D;
	padding-right: 5%;
}

.right-main .view-4 .d {
	margin-top: 5px;
	display: block;
	font-size: 12px;
	color: #999999;
}

.right-main .view-4 .money .d {
	text-align: right;
}